[Unit]
Description=Multiple Spanning Tree Protocol (MSTP) Daemon
After=vplane-controller.service
Wants=vplane-controller.service

[Service]
Restart=on-failure
ExecStart=/sbin/mstpd -d -s
ExecStartPost=/opt/vyatta/sbin/vyatta-bridge-reload-stp
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
